@media (max-width:1920px){


    /*Estilos aplicados al header*/
    .header h1 {
        font-size: 120px;
        padding: 80px 0px;
    }

    /*Estilos aplicados al section que contiene la clase contenedor-navbar-with-sb*/


    .contenedor-navbar-with-sb h2 {
        font-size: 50px;
    }

    .navbar-with-sb img, .navbar-with-sb a, .search-bar-content {
        font-size: 35px;
    }

    .navbar-with-sb .img-logo {
        width: 45px;
        height: 45px;
    }

    .btn-search-bar img {
        width: 30px;
        height: 30px;
        padding: 10px;
    }

    /*Estilos aplicados al section que contiene la clase contenedor-navbar-without-sb*/

    .contenedor-navbar-without-sb h2 {
        font-size: 50px;
    }

    .navbar-without-sb img, .navbar-without-sb a {
        font-size: 35px;
    }

    .navbar-without-sb .img-logo {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 1440px){

    /*Estilos aplicados al header*/
    .header h1 {
        font-size: 60px;
        padding: 50px 0px;
    }

    /*Estilos aplicados al section con la clase contenedor-navbar-with-sb*/
    .contenedor-navbar-with-sb h2 {
        font-size: 30px;
    }

    .navbar-with-sb img, .navbar-with-sb a, .search-bar-content {
        font-size: 20px;
    }

    .navbar-with-sb .img-logo {
        width: 35px;
        height: 35px;
    }

    .btn-search-bar img {
        width: 20px;
        height: 20px;
        padding: 10px;
    }

    /*Estilos aplicados al section que contiene la clase contenedor-navbar-without-sb*/
    .contenedor-navbar-without-sb h2 {
        font-size: 30px;
    }

    .navbar-without-sb img, .navbar-without-sb a {
        font-size: 20px;
    }

    .navbar-without-sb .img-logo {
        width: 35px;
        height: 35px;
    }

}

@media (max-width:1280px){

    /*Estilos aplicados al section con la clase contenedor-navbar-with-sb*/
    .contenedor-navbar-with-sb h2 {
        font-size: 25px;
    }

    .navbar-with-sb img, .navbar-with-sb a, .search-bar-content {
        font-size: 15px;
    }

    .navbar-with-sb .img-logo {
        width: 30px;
        height: 30px;
    }

    .btn-search-bar img {
        width: 15px;
        height: 15px;
        padding: 10px;
    }

    /*Estilos aplicados al section que contiene la clase contenedor-navbar-without-sb*/
    .contenedor-navbar-without-sb h2 {
        font-size: 25px;
    }

    .navbar-without-sb img, .navbar-without-sb a {
        font-size: 15px;
    }

    .navbar-without-sb .img-logo {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 1024px){

    /*Estilos aplicados al section con clase contenedor-navbar-with-sb*/
    .search-bar {
        width: 200px;
    }

    /*Estilos aplicados al section con clase contenedor-navbar-without-sb*/
    .navbar-without-sb .left-links{
        padding: 0px 101px 0px 20px;
    }
    
    .navbar-without-sb .right-links{
        padding: 0px 20px 0px 101px;
    }
}

@media (max-width: 768px){
    /*Estilos aplicados al section con clase contenedor-navbar-with-sb*/
    
    .contenedor-navbar-with-sb {
        flex-wrap: nowrap;
        padding: 50px 0px;
        align-items: center;
    }

    .navbar-with-sb {
        flex-wrap: wrap;
        padding: 0px;
        width: 720px;
    }

    .search-bar {
        width: 600px;
    }

    /*Estilos aplicados al section con clase contenedor-navbar-without-sb*/
    
    .contenedor-navbar-without-sb {
        flex-wrap: nowrap;
        padding: 50px 0px 100px 0px;
        align-items: center;
    }

    .navbar-without-sb .left-links, .navbar-without-sb .right-links {
        padding: 0px;
    }

}

@media (max-width: 480px) {
    /*Estilos aplicados al section con clase contenedor-navbar-with-sb*/
    .contenedor-navbar-with-sb {
        flex-direction: column;
        align-items: center;
    }  

    .navbar-with-sb{
        width: 428px;
        padding: 0px;
    }

    .search-bar {
        width: 300px;
    }


     /*Estilos aplicados al section con clase contenedor-navbar-without-sb*/

    .contenedor-navbar-without-sb {
        flex-direction: column;
        align-items: center;
    }
    .navbar-without-sb {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 320px) {
    /*Estilos aplicados al section con clase contenedor-navbar-with-sb*/
    .contenedor-navbar-with-sb {
        flex-direction: column;
        align-items: center;
    }  

    .navbar-with-sb{
        width: 95%;
        padding: 0px;
    }

    .search-bar {
        width: 90%;
    }

    .navbar-with-sb .left-links {
        display: flex;
        flex-direction: column;
    }

    .navbar-with-sb .right-links {
        display: flex;
        flex-direction: column;
    }


    /*Estilos aplicados al section con clase contenedor-navbar-without-sb*/

    .navbar-without-sb {
        width: 95%;
    }

    .navbar-without-sb .left-links {
        flex-direction: column;
    }

    .navbar-without-sb .right-links {
        flex-direction: column;
    }

}